@keyframes pulse {
	from {
		transform: scale(1.03);
		opacity: 1;
	}

	to {
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes zoom {
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

// Animacja kwadraty

// @keyframes rotate {
// 	0% {
// 		transform: rotate(0deg);
// 	}
// 	40% {
// 		transform: rotate(320deg) scale(1.8);
// 	}
// 	90% {
// 		transform: rotate(-320deg) scale(0.5);
// 	}
// 	100% {
// 		transform: rotate(180deg) scale(1);
// 	}
// }


@keyframes logoRotate {
   from {
	 transform: rotate(0deg);
   }

   to {
	transform: rotate(360deg);
   }

}


