@use './animations' as *;
@use './colors' as *;

@media (min-width: 1200px) {
	.navigation-box-desktop {
		position: relative;
	}

	.aboutme {
		.back-img {
			.shadow {	
				width: 50%;				
			}

			.front-img {
				height: 900px;
				width: 1550px;
			}
		}

		.aboutme-box {
			display: flex;
			flex-direction: row;

			.aboutme-left {
				z-index: 20;
				display: flex;
				flex-direction: column;
				margin: 0 1em;
				margin-top: 3em;
				width: 48%;
				color: $secondary;
				h3 {
					font-size: 2.4rem;
					margin-bottom: 1em;
				}
				p {
					line-height: 1.3;
					font-size: 1.9rem;
					margin-bottom: 1em;
				}
				.text-bottom {
					margin-top: 5em;
				}

				.aboutme-logo-box {
					margin-top: 2em;
					margin-right: 0.5em;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.aboutme-carousel {
						width: 90%;

						.slick-component {
							position: relative;
							font-size: 7rem;

							.slick-center {
								transition: transform 0.5s;
								transform: scale(1.4);
							}

							i {
								padding: 0.8em;
							}
							.fa-gulp {
								margin-left: 0.2em;
								margin-bottom: 0.3em;
							}

							.slick-arrow {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								padding: 0.05em 0.05em;
								font-size: 3.3rem;
								background: none;
								border: none;
								color: $secondary;
								cursor: pointer;
								z-index: 50;
								.fa-angle-left:hover {
									transition: transform 0.2s;
									transform: scale(0.8);
								}
								.fa-angle-right:hover {
									transition: transform 0.2s;
									transform: scale(0.8);
								}
							}
							.slick-prev {
								left: -20px;
							}
							.slick-next {
								right: -20px;
							}
						}
					}
				}
			}
		}
	}

	.banner {
		height: 43vh;
		background-position: 50% 40%;
		background-size: cover;
	}
}
