@media (max-width: 767px) {
	header {
		position: sticky;
		top: 0;
		height: 82px;

		.hamburger-navigation-box {
			display: block;
		}

		.navigation-box-desktop {
			display: none;
		}
		.image-box-mobile {
			img {
				display: block;
			}
		}
	}

	.welcome {
		.welcome-box {
			margin-bottom: 10em;

			.welcome-text {
				font-size: 1.8rem;
				margin-left: 1em;
			}
		}
	}

	.contact {
		.contact-form {
			margin: 1em 1em;
			// padding: 1em 10em;
			display: flex;
			flex-direction: column;

			.form-top {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.top-one {
					padding: 0;
				}
				.top-two {
					padding: 0;
				}
			}
		}
	}

	.aboutme {
		.back-img {
			.shadow {
				width: 62%;
			}

			.front-img {
				height: 860px;
				width: 1350px;
			}
		}

		.aboutme-box {
			.aboutme-left {
				margin: 0 0.5em;
				margin-top: 1em;
				width: 57%;

				h3 {
					font-size: 2.4rem;
					margin-bottom: 0.5em;
				}
				p {
					line-height: 1.3;
					font-size: 1.3rem;
					margin-bottom: 1em;
				}
				.text-bottom {
					margin-top: 1em;
				}

				.aboutme-logo-box {
					margin-top: 0.5em;
					margin-right: 0.5em;

					.aboutme-carousel {
						.slick-component {
							font-size: 3.3rem;
						}
					}
				}
			}
		}
	}
}
