@media (max-width: 767px) {
	header {
		position: sticky;
		top: 0;
		height: 82px;

		.hamburger-navigation-box {
			display: block;
		}

		.navigation-box-desktop {
			display: none;
		}
		.image-box-mobile {
			img {
				display: block;
			}
		}
		.navigation-blog {
			display: flex;
		}
	}

	header .navigation-blog .navigation-desktop .nav-link, header .navigation-box-desktop .navigation-desktop .nav-link {
		margin: 0 0.6em;
	}

	.welcome {
		.welcome-box {
			margin-bottom: 10em;

			.welcome-text {
				font-size: 1.8rem;
				margin-left: 1em;
			}
		}
	}

	.contact {
		.contact-form {
			margin: 1em 1em;
			// padding: 1em 10em;
			display: flex;
			flex-direction: column;

			.form-top {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.top-one {
					padding: 0;
				}
				.top-two {
					padding: 0;
				}
			}
		}
	}

	.aboutme {
		.back-img {
			.shadow {
				width: 62%;
			}

			.front-img {
				height: 860px;
				width: 1350px;
			}
		}

		.aboutme-box {
			.aboutme-left {
				margin: 0 0.5em;
				margin-top: 1em;
				width: 57%;

				h3 {
					font-size: 2.4rem;
					margin-bottom: 0.5em;
				}
				p {
					line-height: 1.3;
					font-size: 1.3rem;
					margin-bottom: 1em;
				}
				.text-bottom {
					margin-top: 1em;
				}

				.aboutme-logo-box {
					margin-top: 0.5em;
					margin-right: 0.5em;

					.aboutme-carousel {
						.slick-component {
							font-size: 3.3rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.welcome {
		.welcome-animation {
			svg {
				width: 10px;
				height: 10px;
			}
		}
		.welcome-box {
			display: flex;
			justify-content: space-around;
			align-items: center;
			.welcome-text {
				margin-left: 0.5em;
				font-size: 1.6rem;
				letter-spacing: 0em;
			}

			.animation-container {
				width: 400px;
				height: 400px;
			}
			.animation-container .circle {
				position: absolute;
				width: 100px;
				height: 100px;
			}
			@for $i from 1 through 11 {
				$angle: random();
				@keyframes anim-#{$i} {
					from {
						transform: rotate($angle * 360deg) translate(0)
							rotate($angle * -360deg) scale(random() * 2.4);
					}

					to {
						transform: rotate($angle * 360deg)
							translate(180px * random() + 40px) rotate($angle * -360deg)
							scale(0);
					}
				}
			}
		}
	}
}

@media (max-width: 620px) {
	.welcome {
		.welcome-box {
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding-left: 0;
			.welcome-text {
				margin-left: 0.5em;
				font-size: 1.6rem;
				letter-spacing: 0em;
			}

			.animation-container {
				width: 200px;
				height: 200px;
			}
			.animation-container .circle {
				position: absolute;
				width: 70px;
				height: 70px;
			}
			@for $i from 1 through 11 {
				$angle: random();
				@keyframes anim-#{$i} {
					from {
						transform: rotate($angle * 360deg) translate(0)
							rotate($angle * -360deg) scale(random() * 1.8);
					}

					to {
						transform: rotate($angle * 360deg)
							translate(100px * random() + 20px) rotate($angle * -360deg)
							scale(0);
					}
				}
			}
		}

		
	}

	.aboutme {
		.aboutme-box {
			.aboutme-left {
				.aboutme-logo-box {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 150px;

					.carousel-container {
						width: 95%;
						margin: 20px auto;
						height: 200px;
						.carousel {
							.slider {
								display: flex;
								height: 100%;
								width: 800%;
								flex-shrink: 0;
								transition: transform 0.8s;
								.section {
									i {
										font-size: 10rem;
									}
								}
							}
							.arrow {
								position: absolute;
								top: 40%;
								font-size: 3rem;
								transition: transform 0.3s;
								cursor: pointer;
								&:hover {
									transform: scale(0.8);
								}
							}
						}
					}
					.prev {
						left: 1%;
					}
					.next {
						right: 1%;
					}
				}
			}
		}
	}

	.error {
		h1 {
			font-size: 5rem;
		}
		p {
			padding-top: 0.2em;
			font-size: 2.2rem;
		}
		a {
			padding: .3em .7em;
		}
	}


	.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container {
		padding-top: 0em;
		width: 100%;
		margin: 20px auto;
		height: 250px;
	}

	.aboutme .aboutme-box .aboutme-left .aboutme-logo-box {
		margin: 0;
	}
}
