@use './colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.6rem;
	color: #fff;
	background-color: $secondary;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

header {
	background-color: $secondary;
	border-bottom: 1px solid $main;
	position: sticky;
	top: 0;
	z-index: 10;

	.hamburger-navigation-box {
		position: relative;
		display: none;

		.hamburger {
			position: absolute;
			top: 3em;
			left: 1em;
			transform: translateY(-50%);
			z-index: 500;

			&-inner,
			&-inner::before,
			&-inner::after {
				background-color: $third;
				z-index: 600;
			}
		}

		.hamburger.is-active .hamburger-inner,
		.hamburger.is-active .hamburger-inner::before,
		.hamburger.is-active .hamburger-inner::after {
			background-color: $secondary;
		}
	}

	.image-box-mobile {
		img {
			display: none;
			position: absolute;
			height: 60px;
			right: 0;
			margin: 0.6em 1em;
			opacity: 0.77;
		}
	}

	.navigation {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $main;
		z-index: 10;
		transform: translateX(-102%);
		transition: transform 0.6s;

		.nav-link {
			position: relative;
			display: inline-block;
			margin: 0.5em;
			padding: 0.5em;
			font-size: 2.3rem;

			text-decoration: none;
			color: $secondary;
			transition: color 0.3s;

			&:hover {
				color: #c9ada7;
			}
		}
	}

	.navigation--active {
		transform: translateX(0%);
	}

	.navigation-box-desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.navigation-desktop {
			padding-right: 1em;

			.one {
				&::after {
					left: -1px;
				}
			}

			.nav-link {
				position: relative;
				margin: 0 1.2em;
				font-size: 2rem;
				text-decoration: none;
				color: $main;

				&::after {
					content: '';
					position: absolute;
					bottom: -1px;
					left: -1px;
					height: 1px;
					width: 100%;
					background-color: $main;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 0.35s;
				}

				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}

		img {
			height: 60px;
			margin: 0.6em 1em;
			opacity: 0.77;
		}

		p {
			position: absolute;
			font-family: 'Lexend Exa';
			font-weight: 200;
			color: $main;
		}

		.logo-one {
			left: 90px;
			top: 18px;
			font-size: 4rem;
		}

		.logo-two {
			left: 100px;
			font-size: 3rem;
		}
	}
}

.welcome {
	height: 100vh;
	display: flex;
	align-items: center;

	.welcome-box {
		margin-bottom: 10em;
		display: flex;
		// align-items: center;
		// justify-content: space-between;

		.welcome-text {
			color: #4a4e69;
			font-size: 2.2rem;
			margin-left: 5em;
			letter-spacing: 0.06em;
			h1 {
				margin-bottom: 0.2em;
			}
			hr {
				margin-top: 0.1em;
			}
		}
	}

	.arrow-box {
		display: block;
		position: absolute;
		bottom: 3rem;
		left: 50%;
		padding: 0.8em;
		transform: translateX(-50%);
		border: 1px solid $main;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $main;
			border-radius: 50%;
			animation: pulse 2s infinite linear;
		}
		.arrow-img {
			width: 60px;
		}
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 1;
	}

	to {
		transform: scale(1.5);
		opacity: 0;
	}
}

.aboutme {
	height: 100vh;
}

.contact {
	h2 {
		margin-bottom: 2em;
		color: #4a4e69;
		font-weight: normal;
		text-align: center;
		font-size: 3rem;
	}
	.contact-form {
		margin: 1em 8em;
		display: flex;
		flex-direction: column;

		.form-top {
			display: flex;
			justify-content: center;

			.top-one {
				width: 100%;
				padding-right: 1em;
			}
			.top-two {
				padding-left: 1em;
				width: 100%;
			}
		}

		.form-box {
			color: #4a4e69;
			label {
				display: block;
				margin-bottom: 0.5em;
				font-size: 1.8rem;
			}
			textarea {
				max-width: 100%;
				width: 100%;
				min-width: 100%;
			}
			input,
			textarea {
				padding: 0.5em 0.5em;
				margin-bottom: 2em;
				width: 100%;
				color: $main;
				font-size: 1.6rem;
				background: none;
				border: 1px solid $main;

				&:focus {
					outline: none;
					border: 2px solid $main;
				}
			}
		}
		button {
			position: relative;
			align-self: center;
			margin-bottom: 1em;
			padding: .9em 2.1em;
			border: 1px solid $main;
			background: none;
			font-weight: bold;
			color: $main;
			overflow: hidden;
			cursor: pointer;
			transition: background-color 0.5s, color 0.5s;
			&:hover {
				color: $secondary;
				background-color: $main;
			}
		}
	}
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $secondary;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: zoom .5s
}

@keyframes zoom {
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}


footer {
	color: #f2e9e4;
	font-size: 1.8rem;
	padding: 1.2em;
	border-top: 1px solid #f2e9e4;
	text-align: center;
	background-color: #4a4e69;

	a {
		padding: 0.5em;
		text-decoration: none;
		color: #f2e9e4;
		transition: color 0.4s;
		flex-sel &:visited {
			color: inherit;
		}

		&:hover {
			color: #c9ada7;
		}
		i {
			margin-top: 0.5em;
			font-size: 3rem;
		}
	}
}

.logo-box {
	position: relative;
	font-family: 'Lexend Exa';
	font-weight: 200;
	color: $secondary;

	.letter-one {
		position: absolute;
		font-size: 4rem;
	}
	.letter-two {
		position: absolute;
		left: 10px;
		top: 4.5px;
		font-size: 3rem;
	}
}

// >>>>>> MEDIA >>>>>>


@media (max-width: 768px) {
	header {
		position: sticky;
		top: 0;
		height: 82px;

		.hamburger-navigation-box {
			display: block;
		}

		.navigation-box-desktop {
			display: none;
		}
		.image-box-mobile {
			img {
				display: block;
			}
		}
	}

	.welcome {
		
		.welcome-box {
			margin-bottom: 10em;
			
			.welcome-text {
				font-size: 1.8rem;
				margin-left: 1em;
			}
		}
	}

	.contact {
		.contact-form {
			margin: 1em 1em;
			// padding: 1em 10em;
			display: flex;
			flex-direction: column;

			.form-top {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.top-one {
					padding: 0;
				}
				.top-two {
					padding: 0;
				}
			}
		}
	}
}
