@use './colors' as *;
@use './animations' as *;
$num-elements: 11;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.6rem;
	color: #fff;
	background-color: $secondary;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.sticky-body {
	overflow: hidden;
}

header {
	position: sticky;
	top: 0;
	background-color: $secondary;
	border-bottom: 1px solid $main;
	z-index: 60;

	.hamburger-navigation-box {
		position: relative;
		display: none;

		.hamburger {
			position: absolute;
			top: 3em;
			left: 1em;
			transform: translateY(-50%);
			z-index: 500;

			&-inner,
			&-inner::before,
			&-inner::after {
				background-color: $third;
				z-index: 600;
			}
		}

		.hamburger.is-active .hamburger-inner,
		.hamburger.is-active .hamburger-inner::before,
		.hamburger.is-active .hamburger-inner::after {
			background-color: $secondary;
		}
	}

	.image-box-mobile {
		img {
			display: none;
			position: absolute;
			height: 60px;
			right: 0;
			margin: 0.6em 1em;
			opacity: 0.77;
			animation: logoRotate 60s 1s linear infinite;
		}
	}

	.navigation {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $main;
		z-index: 10;
		transform: translateX(-102%);
		transition: transform 0.4s;

		.nav-link {
			position: relative;
			display: inline-block;
			margin: 0.5em;
			padding: 0.5em;
			font-size: 2.3rem;

			text-decoration: none;
			color: $secondary;
			transition: color 0.3s;

			&:hover {
				color: #c9ada7;
			}
		}
	}

	.navigation--active {
		transform: translateX(0%);
	}

	.navigation-box-desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.image-box {
			img {
				height: 60px;
				margin: 0.6em 1em;
				opacity: 0.77;
				animation: logoRotate 60s 2s linear infinite;
			}
		}

		.navigation-desktop {
			padding-right: 1em;

			.one {
				&::after {
					left: -1px;
				}
			}

			.nav-link {
				position: relative;
				margin: 0 1.2em;
				font-size: 2rem;
				text-decoration: none;
				color: $main;

				&::after {
					content: '';
					position: absolute;
					bottom: -1px;
					left: -1px;
					height: 1px;
					width: 100%;
					background-color: $main;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 0.35s;
				}

				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}
}

.welcome {
	height: 100vh;
	display: flex;
	align-items: center;

	.welcome-box {
		margin-bottom: 10em;
		display: flex;
		justify-content: space-around;
		align-items: center;

		svg {
			// display: none;
			width: 10px;
			height: 10px;
		}
		.welcome-text {
			color: #4a4e69;
			font-size: 2.2rem;
			letter-spacing: 0.06em;

			h1 {
				margin-bottom: 0.2em;
			}
			hr {
				margin-top: 0.1em;
			}
			span {
				letter-spacing: 0;
			}
		}

		.animation-container {
			width: 600px;
			height: 600px;
			filter: url('#goo');
			opacity: 0;
			animation: fade 4s forwards;
		}

		.animation-container .circle {
			position: absolute;
			width: 130px;
			height: 130px;
			border-radius: 50%;
			background-color: #e10f3b;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		@for $i from 1 through 11 {
			$angle: random();
			.animation-container .dot:nth-child(#{$i}) {
				position: absolute;
				width: 40px;
				height: 40px;
				background-color: #e10f3b;
				border-radius: 50%;
				left: -99999px;
				right: -99999px;
				top: -99999px;
				bottom: -99999px;
				margin: auto;
				animation: anim-#{$i} 7s 4s infinite;
			}

			@keyframes anim-#{$i} {
				from {
					transform: rotate($angle * 360deg) translate(0)
						rotate($angle * -360deg) scale(random() * 3);
				}

				to {
					transform: rotate($angle * 360deg) translate(200px * random() + 130px)
						rotate($angle * -360deg) scale(0);
				}
			}
		}
	}

	.arrow-box {
		z-index: 50;
		display: block;
		position: absolute;
		bottom: 3rem;
		left: 50%;
		padding: 0.8em;
		transform: translateX(-50%);
		border: 1px solid $main;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $main;
			border-radius: 50%;
			animation: pulse 2.3s infinite linear;
		}
		.arrow-img {
			width: 60px;
		}
	}
}

.aboutme {
	.back-img {
		position: relative;
		background-image: url('/dist/img/IMG20220531144428.jpg');
		height: 95vh;
		background-size: cover;
		background-attachment: fixed;
		background-position: 0 80px;
		overflow: hidden;

		.shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 10;
			color: black;
			box-shadow: 0 0 10px;
		}

		.front-img {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 860px;
			width: 1350px;
			background-image: url('/dist/img/IMG_20210612_135742.png');
			background-size: cover;
			z-index: 9;
		}
	}

	.aboutme-box {
		display: flex;
		flex-direction: row;

		.aboutme-left {
			z-index: 20;
			display: flex;
			flex-direction: column;
			margin: 0 1em;
			margin-top: 2em;
			width: 47%;
			color: $secondary;
			h3 {
				font-size: 2.4rem;
				margin-bottom: 1.5em;
			}
			p {
				line-height: 1.3;
				font-size: 1.8rem;
			}
			.text-bottom {
				margin-top: 3em;
			}

			.aboutme-logo-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.carousel-container {
					padding-top: 5em;
					width: 70%;
					margin: 20px auto;
					height: 250px;
					.carousel {
						position: relative;
						display: flex;
						justify-content: flex-start;
						width: 100%;
						height: 100%;
						overflow: hidden;
						.slider {
							display: flex;
							height: 100%;
							width: 700%;
							flex-shrink: 0;
							transition: transform 0.8s;
							.section {
								display: flex;
								align-items: center;
								justify-content: center;
								flex-shrink: 0;
								flex: 1;

								i {
									font-size: 12rem;
								}

								.fa-html5 {
									color: #e44d26;
								}
								.fa-css3-alt {
									color: #2965f1;
								}
								.fa-js {
									color: #ffd600;
								}
								.fa-gulp {
									color: #eb4a4b;
								}
								.fa-bootstrap {
									color: #7a11f8;
								}
								.fa-github {
									color: rgb(0, 0, 0);
									text-shadow: 0 0 3px white;
								}
								.fa-ubuntu {
									color: #de4815;
								}
							}
						}
						.arrow {
							position: absolute;
							top: 40%;
							font-size: 4rem;
							transition: transform 0.3s;
							cursor: pointer;
							&:hover {
								transform: scale(0.8);
							}
						}
					}
				}
				.prev {
					left: 1%;
				}
				.next {
					right: 1%;
				}
			}
		}
	}
	.shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.65);
		z-index: -2;
	}
}

.portfolio {
	height: 100vh;
}

.contact {
	margin-top: 2em;

	h2 {
		margin-bottom: 2em;
		color: #4a4e69;
		font-weight: normal;
		text-align: center;
		font-size: 3rem;
	}
	.contact-form {
		margin: 1em 8em;
		display: flex;
		flex-direction: column;

		.form-top {
			display: flex;
			justify-content: center;

			.top-one {
				width: 100%;
				padding-right: 1em;
			}
			.top-two {
				padding-left: 1em;
				width: 100%;
			}
		}

		.form-box {
			color: #4a4e69;
			label {
				display: block;
				margin-bottom: 0.5em;
				font-size: 1.8rem;
			}
			textarea {
				max-width: 100%;
				width: 100%;
				min-width: 100%;
			}
			input,
			textarea {
				padding: 0.5em 0.5em;
				margin-bottom: 2em;
				width: 100%;
				color: $main;
				font-size: 1.6rem;
				background: none;
				border: 1px solid $main;

				&:focus {
					outline: none;
					border: 2px solid $main;
				}
			}
		}
		button {
			position: relative;
			align-self: center;
			margin-bottom: 1em;
			padding: 0.9em 2.1em;
			border: 1px solid $main;
			background: none;
			font-weight: bold;
			color: $main;
			overflow: hidden;
			cursor: pointer;
			transition: background-color 0.5s, color 0.5s;
			&:hover {
				color: $secondary;
				background-color: $main;
			}
		}
	}
}

.modal {
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	width: 400px;
	height: 180px;
	text-align: center;
	background-color: $secondary;
	color: $main;
	border: 1px solid $main;
	font-size: 1.8rem;

	button {
		margin-top: 2em;
	}
}

.overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(74, 78, 105, 0.7);
	z-index: 200;
}

.circle {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: $secondary;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: zoom 0.5s;
}

footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #f2e9e4;
	font-size: 1.8rem;
	padding: 1.2em;
	border-top: 1px solid #f2e9e4;
	text-align: center;
	background-color: #4a4e69;

	.footer-top {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		p {
			margin-bottom: 0.1em;
		}
		img {
			margin-left: 0.4em;
			height: 28px;
		}
	}

	a {
		text-decoration: none;
		color: #f2e9e4;
		transition: color 0.4s;
		i {
			margin-top: 0.3em;
			font-size: 3rem;
		}
		&:hover {
			color: #c9ada7;
		}
	}
}

// >>>>>> MEDIA >>>>>>

@import './small';
@import './large';
