@-webkit-keyframes pulse {
  from {
    transform: scale(1.03);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse {
  from {
    transform: scale(1.03);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes zoom {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
@keyframes zoom {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.6rem;
  color: #fff;
  background-color: #F2E9E4;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.sticky-body {
  overflow: hidden;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #F2E9E4;
  border-bottom: 1px solid #4A4E69;
  z-index: 60;
}
header .hamburger-navigation-box {
  position: relative;
  display: none;
}
header .hamburger-navigation-box .hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
}
header .hamburger-navigation-box .hamburger-inner, header .hamburger-navigation-box .hamburger-inner::before, header .hamburger-navigation-box .hamburger-inner::after {
  background-color: #22223B;
  z-index: 600;
}
header .hamburger-navigation-box .hamburger.is-active .hamburger-inner,
header .hamburger-navigation-box .hamburger.is-active .hamburger-inner::before,
header .hamburger-navigation-box .hamburger.is-active .hamburger-inner::after {
  background-color: #F2E9E4;
}
header .image-box-mobile img {
  display: none;
  position: absolute;
  height: 60px;
  right: 0;
  margin: 0.6em 1em;
  opacity: 0.77;
  -webkit-animation: logoRotate 60s 1s linear infinite;
          animation: logoRotate 60s 1s linear infinite;
}
header .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4A4E69;
  z-index: 10;
  transform: translateX(-102%);
  transition: transform 0.4s;
}
header .navigation .nav-link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3rem;
  text-decoration: none;
  color: #F2E9E4;
  transition: color 0.3s;
}
header .navigation .nav-link:hover {
  color: #c9ada7;
}
header .navigation--active {
  transform: translateX(0%);
}
header .navigation-box-desktop, header .navigation-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .navigation-box-desktop .image-box img, header .navigation-blog .image-box img {
  height: 60px;
  margin: 0.6em 1em;
  opacity: 0.77;
  -webkit-animation: logoRotate 60s 2s linear infinite;
          animation: logoRotate 60s 2s linear infinite;
}
header .navigation-box-desktop .navigation-desktop, header .navigation-blog .navigation-desktop {
  padding-right: 1em;
}
header .navigation-box-desktop .navigation-desktop .one::after, header .navigation-blog .navigation-desktop .one::after {
  left: -1px;
}
header .navigation-box-desktop .navigation-desktop .nav-link, header .navigation-blog .navigation-desktop .nav-link {
  position: relative;
  margin: 0 1.2em;
  font-size: 2rem;
  text-decoration: none;
  color: #4A4E69;
}
header .navigation-box-desktop .navigation-desktop .nav-link::after, header .navigation-blog .navigation-desktop .nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  height: 1px;
  width: 100%;
  background-color: #4A4E69;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.35s;
}
header .navigation-box-desktop .navigation-desktop .nav-link:hover::after, header .navigation-blog .navigation-desktop .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
}
.welcome .welcome-box {
  margin-bottom: 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.welcome .welcome-box svg {
  width: 10px;
  height: 10px;
}
.welcome .welcome-box .welcome-text {
  color: #4a4e69;
  font-size: 2.2rem;
  letter-spacing: 0.06em;
}
.welcome .welcome-box .welcome-text h1 {
  margin-bottom: 0.2em;
}
.welcome .welcome-box .welcome-text hr {
  margin-top: 0.1em;
}
.welcome .welcome-box .welcome-text span {
  letter-spacing: 0;
}
.welcome .welcome-box .animation-container {
  width: 600px;
  height: 600px;
  filter: url("#goo");
  opacity: 0;
  -webkit-animation: fade 4s forwards;
          animation: fade 4s forwards;
}
.welcome .welcome-box .animation-container .circle {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #e10f3b;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.welcome .welcome-box .animation-container .dot:nth-child(1) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-1 7s 4s infinite;
          animation: anim-1 7s 4s infinite;
}
@-webkit-keyframes anim-1 {
  from {
    transform: rotate(109.5292547935deg) translate(0) rotate(-109.5292547935deg) scale(2.2008496886);
  }
  to {
    transform: rotate(109.5292547935deg) translate(152.2459238016px) rotate(-109.5292547935deg) scale(0);
  }
}
@keyframes anim-1 {
  from {
    transform: rotate(109.5292547935deg) translate(0) rotate(-109.5292547935deg) scale(2.2008496886);
  }
  to {
    transform: rotate(109.5292547935deg) translate(152.2459238016px) rotate(-109.5292547935deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(2) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-2 7s 4s infinite;
          animation: anim-2 7s 4s infinite;
}
@-webkit-keyframes anim-2 {
  from {
    transform: rotate(64.5765441143deg) translate(0) rotate(-64.5765441143deg) scale(0.3227846076);
  }
  to {
    transform: rotate(64.5765441143deg) translate(285.540962096px) rotate(-64.5765441143deg) scale(0);
  }
}
@keyframes anim-2 {
  from {
    transform: rotate(64.5765441143deg) translate(0) rotate(-64.5765441143deg) scale(0.3227846076);
  }
  to {
    transform: rotate(64.5765441143deg) translate(285.540962096px) rotate(-64.5765441143deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(3) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-3 7s 4s infinite;
          animation: anim-3 7s 4s infinite;
}
@-webkit-keyframes anim-3 {
  from {
    transform: rotate(203.7151607556deg) translate(0) rotate(-203.7151607556deg) scale(1.849891058);
  }
  to {
    transform: rotate(203.7151607556deg) translate(167.2900882516px) rotate(-203.7151607556deg) scale(0);
  }
}
@keyframes anim-3 {
  from {
    transform: rotate(203.7151607556deg) translate(0) rotate(-203.7151607556deg) scale(1.849891058);
  }
  to {
    transform: rotate(203.7151607556deg) translate(167.2900882516px) rotate(-203.7151607556deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(4) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-4 7s 4s infinite;
          animation: anim-4 7s 4s infinite;
}
@-webkit-keyframes anim-4 {
  from {
    transform: rotate(178.872047512deg) translate(0) rotate(-178.872047512deg) scale(2.4191398199);
  }
  to {
    transform: rotate(178.872047512deg) translate(302.8896964331px) rotate(-178.872047512deg) scale(0);
  }
}
@keyframes anim-4 {
  from {
    transform: rotate(178.872047512deg) translate(0) rotate(-178.872047512deg) scale(2.4191398199);
  }
  to {
    transform: rotate(178.872047512deg) translate(302.8896964331px) rotate(-178.872047512deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(5) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-5 7s 4s infinite;
          animation: anim-5 7s 4s infinite;
}
@-webkit-keyframes anim-5 {
  from {
    transform: rotate(256.7257109864deg) translate(0) rotate(-256.7257109864deg) scale(2.6112207765);
  }
  to {
    transform: rotate(256.7257109864deg) translate(261.7115940465px) rotate(-256.7257109864deg) scale(0);
  }
}
@keyframes anim-5 {
  from {
    transform: rotate(256.7257109864deg) translate(0) rotate(-256.7257109864deg) scale(2.6112207765);
  }
  to {
    transform: rotate(256.7257109864deg) translate(261.7115940465px) rotate(-256.7257109864deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(6) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-6 7s 4s infinite;
          animation: anim-6 7s 4s infinite;
}
@-webkit-keyframes anim-6 {
  from {
    transform: rotate(2.256122657deg) translate(0) rotate(-2.256122657deg) scale(0.3018895775);
  }
  to {
    transform: rotate(2.256122657deg) translate(144.8891630058px) rotate(-2.256122657deg) scale(0);
  }
}
@keyframes anim-6 {
  from {
    transform: rotate(2.256122657deg) translate(0) rotate(-2.256122657deg) scale(0.3018895775);
  }
  to {
    transform: rotate(2.256122657deg) translate(144.8891630058px) rotate(-2.256122657deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(7) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-7 7s 4s infinite;
          animation: anim-7 7s 4s infinite;
}
@-webkit-keyframes anim-7 {
  from {
    transform: rotate(59.8913723825deg) translate(0) rotate(-59.8913723825deg) scale(1.4256719983);
  }
  to {
    transform: rotate(59.8913723825deg) translate(278.4079224523px) rotate(-59.8913723825deg) scale(0);
  }
}
@keyframes anim-7 {
  from {
    transform: rotate(59.8913723825deg) translate(0) rotate(-59.8913723825deg) scale(1.4256719983);
  }
  to {
    transform: rotate(59.8913723825deg) translate(278.4079224523px) rotate(-59.8913723825deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(8) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-8 7s 4s infinite;
          animation: anim-8 7s 4s infinite;
}
@-webkit-keyframes anim-8 {
  from {
    transform: rotate(276.5788366007deg) translate(0) rotate(-276.5788366007deg) scale(1.8565546333);
  }
  to {
    transform: rotate(276.5788366007deg) translate(237.9508489077px) rotate(-276.5788366007deg) scale(0);
  }
}
@keyframes anim-8 {
  from {
    transform: rotate(276.5788366007deg) translate(0) rotate(-276.5788366007deg) scale(1.8565546333);
  }
  to {
    transform: rotate(276.5788366007deg) translate(237.9508489077px) rotate(-276.5788366007deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(9) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-9 7s 4s infinite;
          animation: anim-9 7s 4s infinite;
}
@-webkit-keyframes anim-9 {
  from {
    transform: rotate(74.9875744deg) translate(0) rotate(-74.9875744deg) scale(1.0125122957);
  }
  to {
    transform: rotate(74.9875744deg) translate(282.5738026098px) rotate(-74.9875744deg) scale(0);
  }
}
@keyframes anim-9 {
  from {
    transform: rotate(74.9875744deg) translate(0) rotate(-74.9875744deg) scale(1.0125122957);
  }
  to {
    transform: rotate(74.9875744deg) translate(282.5738026098px) rotate(-74.9875744deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(10) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-10 7s 4s infinite;
          animation: anim-10 7s 4s infinite;
}
@-webkit-keyframes anim-10 {
  from {
    transform: rotate(23.1834492065deg) translate(0) rotate(-23.1834492065deg) scale(0.9528227649);
  }
  to {
    transform: rotate(23.1834492065deg) translate(155.850481306px) rotate(-23.1834492065deg) scale(0);
  }
}
@keyframes anim-10 {
  from {
    transform: rotate(23.1834492065deg) translate(0) rotate(-23.1834492065deg) scale(0.9528227649);
  }
  to {
    transform: rotate(23.1834492065deg) translate(155.850481306px) rotate(-23.1834492065deg) scale(0);
  }
}
.welcome .welcome-box .animation-container .dot:nth-child(11) {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e10f3b;
  border-radius: 50%;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  -webkit-animation: anim-11 7s 4s infinite;
          animation: anim-11 7s 4s infinite;
}
@-webkit-keyframes anim-11 {
  from {
    transform: rotate(63.9254249371deg) translate(0) rotate(-63.9254249371deg) scale(0.7725294705);
  }
  to {
    transform: rotate(63.9254249371deg) translate(214.2231169235px) rotate(-63.9254249371deg) scale(0);
  }
}
@keyframes anim-11 {
  from {
    transform: rotate(63.9254249371deg) translate(0) rotate(-63.9254249371deg) scale(0.7725294705);
  }
  to {
    transform: rotate(63.9254249371deg) translate(214.2231169235px) rotate(-63.9254249371deg) scale(0);
  }
}
.welcome .arrow-box {
  z-index: 50;
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  padding: 0.8em;
  transform: translateX(-50%);
  border: 1px solid #4A4E69;
  border-radius: 50%;
}
.welcome .arrow-box::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #4A4E69;
  border-radius: 50%;
  -webkit-animation: pulse 2.3s infinite linear;
          animation: pulse 2.3s infinite linear;
}
.welcome .arrow-box .arrow-img {
  width: 60px;
}

.aboutme .back-img {
  position: relative;
  background-image: url("/dist/img/IMG20220531144428.jpg");
  height: 95vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 80px;
  overflow: hidden;
}
.aboutme .back-img .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  color: black;
  box-shadow: 0 0 10px;
}
.aboutme .back-img .front-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 860px;
  width: 1350px;
  background-image: url("/dist/img/IMG_20210612_135742.png");
  background-size: cover;
  z-index: 9;
}
.aboutme .aboutme-box {
  display: flex;
  flex-direction: row;
}
.aboutme .aboutme-box .aboutme-left {
  z-index: 20;
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  margin-top: 2em;
  width: 47%;
  color: #F2E9E4;
}
.aboutme .aboutme-box .aboutme-left h3 {
  font-size: 2.4rem;
  margin-bottom: 1.5em;
}
.aboutme .aboutme-box .aboutme-left p {
  line-height: 1.3;
  font-size: 1.8rem;
}
.aboutme .aboutme-box .aboutme-left .text-bottom {
  margin-top: 3em;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container {
  padding-top: 5em;
  width: 70%;
  margin: 20px auto;
  height: 250px;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider {
  display: flex;
  height: 100%;
  width: 800%;
  flex-shrink: 0;
  transition: transform 0.8s;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex: 1;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section i {
  font-size: 12rem;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section .fa-html5 {
  color: #e44d26;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section .fa-css3-alt {
  color: #2965f1;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section .fa-js {
  color: #ffd600;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section .fa-gulp {
  color: #eb4a4b;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section .fa-bootstrap {
  color: #7a11f8;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section .fa-github {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 3px white;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section .fa-ubuntu {
  color: #de4815;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section .fa-sass {
  color: #cd6799;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .arrow {
  position: absolute;
  top: 40%;
  font-size: 4rem;
  transition: transform 0.3s;
  cursor: pointer;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .arrow:hover {
  transform: scale(0.8);
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .prev {
  left: 1%;
}
.aboutme .aboutme-box .aboutme-left .aboutme-logo-box .next {
  right: 1%;
}
.aboutme .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -2;
}

.portfolio {
  height: 100vh;
}

.contact {
  margin-top: 2em;
}
.contact h2 {
  margin-bottom: 2em;
  color: #4a4e69;
  font-weight: normal;
  text-align: center;
  font-size: 3rem;
}
.contact .contact-form {
  margin: 1em 8em;
  display: flex;
  flex-direction: column;
}
.contact .contact-form .form-top {
  display: flex;
  justify-content: center;
}
.contact .contact-form .form-top .top-one {
  width: 100%;
  padding-right: 1em;
}
.contact .contact-form .form-top .top-two {
  padding-left: 1em;
  width: 100%;
}
.contact .contact-form .form-box {
  color: #4a4e69;
}
.contact .contact-form .form-box label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.8rem;
}
.contact .contact-form .form-box textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}
.contact .contact-form .form-box input,
.contact .contact-form .form-box textarea {
  padding: 0.5em 0.5em;
  margin-bottom: 2em;
  width: 100%;
  color: #4A4E69;
  font-size: 1.6rem;
  background: none;
  border: 1px solid #4A4E69;
}
.contact .contact-form .form-box input:focus,
.contact .contact-form .form-box textarea:focus {
  outline: none;
  border: 2px solid #4A4E69;
}
.contact .contact-form button {
  position: relative;
  align-self: center;
  margin-bottom: 1em;
  padding: 0.9em 2.1em;
  border: 1px solid #4A4E69;
  background: none;
  font-weight: bold;
  color: #4A4E69;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.contact .contact-form button:hover {
  color: #F2E9E4;
  background-color: #4A4E69;
}

.modal {
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 400px;
  height: 180px;
  text-align: center;
  background-color: #F2E9E4;
  color: #4A4E69;
  border: 1px solid #4A4E69;
  font-size: 1.8rem;
}
.modal button {
  margin-top: 2em;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(74, 78, 105, 0.7);
  z-index: 200;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #F2E9E4;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: zoom 0.5s;
          animation: zoom 0.5s;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f2e9e4;
  font-size: 1.8rem;
  padding: 1.2em;
  border-top: 1px solid #f2e9e4;
  text-align: center;
  background-color: #4a4e69;
}
footer .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-top p {
  margin-bottom: 0.1em;
}
footer .footer-top img {
  margin-left: 0.4em;
  height: 28px;
}
footer a {
  text-decoration: none;
  color: #f2e9e4;
  transition: color 0.4s;
}
footer a i {
  margin-top: 0.3em;
  font-size: 3rem;
}
footer a:hover {
  color: #c9ada7;
}

.error {
  height: 100vh;
  background-image: url("/dist/img/dog2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.error h1, .error p {
  padding-top: 0.6em;
  color: #000;
  z-index: 20;
  font-size: 6rem;
}
.error p {
  padding-top: 0.2em;
  font-size: 2.8rem;
}
.error a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  padding: 0.4em 0.8em;
  margin-top: 0.8em;
  color: #000;
  transition: background-color 0.4s, color 0.4s;
}
.error a:hover {
  background-color: #000;
  color: white;
}

.banner {
  height: 30vh;
  background-color: white;
  background-image: url("/dist/img/blogbanner.jpg");
  background-position: center;
  background-size: cover;
}

.articles {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  background-color: white;
  color: #4A4E69;
}
.articles h2 {
  padding-top: 2em;
  text-align: center;
  font-weight: 300;
  font-size: 2.7rem;
}

@media (max-width: 767px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 82px;
  }
  header .hamburger-navigation-box {
    display: block;
  }
  header .navigation-box-desktop, header .navigation-blog {
    display: none;
  }
  header .image-box-mobile img {
    display: block;
  }
  header .navigation-blog {
    display: flex;
  }
  header .navigation-blog .navigation-desktop .nav-link, header .navigation-box-desktop .navigation-desktop .nav-link {
    margin: 0 0.6em;
  }
  .welcome .welcome-box {
    margin-bottom: 10em;
  }
  .welcome .welcome-box .welcome-text {
    font-size: 1.8rem;
    margin-left: 1em;
  }
  .contact .contact-form {
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
  }
  .contact .contact-form .form-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact .contact-form .form-top .top-one {
    padding: 0;
  }
  .contact .contact-form .form-top .top-two {
    padding: 0;
  }
  .aboutme .back-img .shadow {
    width: 62%;
  }
  .aboutme .back-img .front-img {
    height: 860px;
    width: 1350px;
  }
  .aboutme .aboutme-box .aboutme-left {
    margin: 0 0.5em;
    margin-top: 1em;
    width: 57%;
  }
  .aboutme .aboutme-box .aboutme-left h3 {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
  }
  .aboutme .aboutme-box .aboutme-left p {
    line-height: 1.3;
    font-size: 1.3rem;
    margin-bottom: 1em;
  }
  .aboutme .aboutme-box .aboutme-left .text-bottom {
    margin-top: 1em;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box {
    margin-top: 0.5em;
    margin-right: 0.5em;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component {
    font-size: 3.3rem;
  }
}
@media (max-width: 900px) {
  .welcome .welcome-animation svg {
    width: 10px;
    height: 10px;
  }
  .welcome .welcome-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .welcome .welcome-box .welcome-text {
    margin-left: 0.5em;
    font-size: 1.6rem;
    letter-spacing: 0em;
  }
  .welcome .welcome-box .animation-container {
    width: 400px;
    height: 400px;
  }
  .welcome .welcome-box .animation-container .circle {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  @-webkit-keyframes anim-1 {
    from {
      transform: rotate(102.6985145508deg) translate(0) rotate(-102.6985145508deg) scale(2.3244132426);
    }
    to {
      transform: rotate(102.6985145508deg) translate(140.1446764608px) rotate(-102.6985145508deg) scale(0);
    }
  }
  @keyframes anim-1 {
    from {
      transform: rotate(102.6985145508deg) translate(0) rotate(-102.6985145508deg) scale(2.3244132426);
    }
    to {
      transform: rotate(102.6985145508deg) translate(140.1446764608px) rotate(-102.6985145508deg) scale(0);
    }
  }
  @-webkit-keyframes anim-2 {
    from {
      transform: rotate(9.9338076103deg) translate(0) rotate(-9.9338076103deg) scale(1.9472720937);
    }
    to {
      transform: rotate(9.9338076103deg) translate(142.6520303286px) rotate(-9.9338076103deg) scale(0);
    }
  }
  @keyframes anim-2 {
    from {
      transform: rotate(9.9338076103deg) translate(0) rotate(-9.9338076103deg) scale(1.9472720937);
    }
    to {
      transform: rotate(9.9338076103deg) translate(142.6520303286px) rotate(-9.9338076103deg) scale(0);
    }
  }
  @-webkit-keyframes anim-3 {
    from {
      transform: rotate(171.9902003596deg) translate(0) rotate(-171.9902003596deg) scale(2.1372928712);
    }
    to {
      transform: rotate(171.9902003596deg) translate(57.0169318994px) rotate(-171.9902003596deg) scale(0);
    }
  }
  @keyframes anim-3 {
    from {
      transform: rotate(171.9902003596deg) translate(0) rotate(-171.9902003596deg) scale(2.1372928712);
    }
    to {
      transform: rotate(171.9902003596deg) translate(57.0169318994px) rotate(-171.9902003596deg) scale(0);
    }
  }
  @-webkit-keyframes anim-4 {
    from {
      transform: rotate(72.8991700915deg) translate(0) rotate(-72.8991700915deg) scale(0.9505214615);
    }
    to {
      transform: rotate(72.8991700915deg) translate(180.8477439547px) rotate(-72.8991700915deg) scale(0);
    }
  }
  @keyframes anim-4 {
    from {
      transform: rotate(72.8991700915deg) translate(0) rotate(-72.8991700915deg) scale(0.9505214615);
    }
    to {
      transform: rotate(72.8991700915deg) translate(180.8477439547px) rotate(-72.8991700915deg) scale(0);
    }
  }
  @-webkit-keyframes anim-5 {
    from {
      transform: rotate(198.9718062206deg) translate(0) rotate(-198.9718062206deg) scale(1.9587205653);
    }
    to {
      transform: rotate(198.9718062206deg) translate(141.0573920933px) rotate(-198.9718062206deg) scale(0);
    }
  }
  @keyframes anim-5 {
    from {
      transform: rotate(198.9718062206deg) translate(0) rotate(-198.9718062206deg) scale(1.9587205653);
    }
    to {
      transform: rotate(198.9718062206deg) translate(141.0573920933px) rotate(-198.9718062206deg) scale(0);
    }
  }
  @-webkit-keyframes anim-6 {
    from {
      transform: rotate(254.0279783973deg) translate(0) rotate(-254.0279783973deg) scale(1.7098315867);
    }
    to {
      transform: rotate(254.0279783973deg) translate(99.8608400591px) rotate(-254.0279783973deg) scale(0);
    }
  }
  @keyframes anim-6 {
    from {
      transform: rotate(254.0279783973deg) translate(0) rotate(-254.0279783973deg) scale(1.7098315867);
    }
    to {
      transform: rotate(254.0279783973deg) translate(99.8608400591px) rotate(-254.0279783973deg) scale(0);
    }
  }
  @-webkit-keyframes anim-7 {
    from {
      transform: rotate(186.3070708741deg) translate(0) rotate(-186.3070708741deg) scale(0.002341123);
    }
    to {
      transform: rotate(186.3070708741deg) translate(146.6877405693px) rotate(-186.3070708741deg) scale(0);
    }
  }
  @keyframes anim-7 {
    from {
      transform: rotate(186.3070708741deg) translate(0) rotate(-186.3070708741deg) scale(0.002341123);
    }
    to {
      transform: rotate(186.3070708741deg) translate(146.6877405693px) rotate(-186.3070708741deg) scale(0);
    }
  }
  @-webkit-keyframes anim-8 {
    from {
      transform: rotate(286.215921574deg) translate(0) rotate(-286.215921574deg) scale(0.105045702);
    }
    to {
      transform: rotate(286.215921574deg) translate(212.3052832789px) rotate(-286.215921574deg) scale(0);
    }
  }
  @keyframes anim-8 {
    from {
      transform: rotate(286.215921574deg) translate(0) rotate(-286.215921574deg) scale(0.105045702);
    }
    to {
      transform: rotate(286.215921574deg) translate(212.3052832789px) rotate(-286.215921574deg) scale(0);
    }
  }
  @-webkit-keyframes anim-9 {
    from {
      transform: rotate(255.1885111208deg) translate(0) rotate(-255.1885111208deg) scale(1.1729010314);
    }
    to {
      transform: rotate(255.1885111208deg) translate(175.4967673108px) rotate(-255.1885111208deg) scale(0);
    }
  }
  @keyframes anim-9 {
    from {
      transform: rotate(255.1885111208deg) translate(0) rotate(-255.1885111208deg) scale(1.1729010314);
    }
    to {
      transform: rotate(255.1885111208deg) translate(175.4967673108px) rotate(-255.1885111208deg) scale(0);
    }
  }
  @-webkit-keyframes anim-10 {
    from {
      transform: rotate(304.4893195968deg) translate(0) rotate(-304.4893195968deg) scale(2.0610491081);
    }
    to {
      transform: rotate(304.4893195968deg) translate(115.0454705309px) rotate(-304.4893195968deg) scale(0);
    }
  }
  @keyframes anim-10 {
    from {
      transform: rotate(304.4893195968deg) translate(0) rotate(-304.4893195968deg) scale(2.0610491081);
    }
    to {
      transform: rotate(304.4893195968deg) translate(115.0454705309px) rotate(-304.4893195968deg) scale(0);
    }
  }
  @-webkit-keyframes anim-11 {
    from {
      transform: rotate(224.3309147294deg) translate(0) rotate(-224.3309147294deg) scale(2.2767617314);
    }
    to {
      transform: rotate(224.3309147294deg) translate(171.2328877276px) rotate(-224.3309147294deg) scale(0);
    }
  }
  @keyframes anim-11 {
    from {
      transform: rotate(224.3309147294deg) translate(0) rotate(-224.3309147294deg) scale(2.2767617314);
    }
    to {
      transform: rotate(224.3309147294deg) translate(171.2328877276px) rotate(-224.3309147294deg) scale(0);
    }
  }
}
@media (max-width: 620px) {
  .welcome .welcome-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .welcome .welcome-box .welcome-text {
    margin-left: 0.5em;
    font-size: 1.6rem;
    letter-spacing: 0em;
  }
  .welcome .welcome-box .animation-container {
    width: 200px;
    height: 200px;
  }
  .welcome .welcome-box .animation-container .circle {
    position: absolute;
    width: 70px;
    height: 70px;
  }
  @-webkit-keyframes anim-1 {
    from {
      transform: rotate(34.4098768015deg) translate(0) rotate(-34.4098768015deg) scale(0.204308091);
    }
    to {
      transform: rotate(34.4098768015deg) translate(26.8083891695px) rotate(-34.4098768015deg) scale(0);
    }
  }
  @keyframes anim-1 {
    from {
      transform: rotate(34.4098768015deg) translate(0) rotate(-34.4098768015deg) scale(0.204308091);
    }
    to {
      transform: rotate(34.4098768015deg) translate(26.8083891695px) rotate(-34.4098768015deg) scale(0);
    }
  }
  @-webkit-keyframes anim-2 {
    from {
      transform: rotate(5.5602862746deg) translate(0) rotate(-5.5602862746deg) scale(0.4176116103);
    }
    to {
      transform: rotate(5.5602862746deg) translate(40.6688886729px) rotate(-5.5602862746deg) scale(0);
    }
  }
  @keyframes anim-2 {
    from {
      transform: rotate(5.5602862746deg) translate(0) rotate(-5.5602862746deg) scale(0.4176116103);
    }
    to {
      transform: rotate(5.5602862746deg) translate(40.6688886729px) rotate(-5.5602862746deg) scale(0);
    }
  }
  @-webkit-keyframes anim-3 {
    from {
      transform: rotate(90.3430786226deg) translate(0) rotate(-90.3430786226deg) scale(0.5285308421);
    }
    to {
      transform: rotate(90.3430786226deg) translate(107.7265205376px) rotate(-90.3430786226deg) scale(0);
    }
  }
  @keyframes anim-3 {
    from {
      transform: rotate(90.3430786226deg) translate(0) rotate(-90.3430786226deg) scale(0.5285308421);
    }
    to {
      transform: rotate(90.3430786226deg) translate(107.7265205376px) rotate(-90.3430786226deg) scale(0);
    }
  }
  @-webkit-keyframes anim-4 {
    from {
      transform: rotate(108.8559680726deg) translate(0) rotate(-108.8559680726deg) scale(0.5146184693);
    }
    to {
      transform: rotate(108.8559680726deg) translate(116.8097561761px) rotate(-108.8559680726deg) scale(0);
    }
  }
  @keyframes anim-4 {
    from {
      transform: rotate(108.8559680726deg) translate(0) rotate(-108.8559680726deg) scale(0.5146184693);
    }
    to {
      transform: rotate(108.8559680726deg) translate(116.8097561761px) rotate(-108.8559680726deg) scale(0);
    }
  }
  @-webkit-keyframes anim-5 {
    from {
      transform: rotate(207.778423248deg) translate(0) rotate(-207.778423248deg) scale(0.3462260483);
    }
    to {
      transform: rotate(207.778423248deg) translate(64.6135379739px) rotate(-207.778423248deg) scale(0);
    }
  }
  @keyframes anim-5 {
    from {
      transform: rotate(207.778423248deg) translate(0) rotate(-207.778423248deg) scale(0.3462260483);
    }
    to {
      transform: rotate(207.778423248deg) translate(64.6135379739px) rotate(-207.778423248deg) scale(0);
    }
  }
  @-webkit-keyframes anim-6 {
    from {
      transform: rotate(72.438759597deg) translate(0) rotate(-72.438759597deg) scale(0.7713177335);
    }
    to {
      transform: rotate(72.438759597deg) translate(35.9976776118px) rotate(-72.438759597deg) scale(0);
    }
  }
  @keyframes anim-6 {
    from {
      transform: rotate(72.438759597deg) translate(0) rotate(-72.438759597deg) scale(0.7713177335);
    }
    to {
      transform: rotate(72.438759597deg) translate(35.9976776118px) rotate(-72.438759597deg) scale(0);
    }
  }
  @-webkit-keyframes anim-7 {
    from {
      transform: rotate(116.5570918616deg) translate(0) rotate(-116.5570918616deg) scale(1.1425295975);
    }
    to {
      transform: rotate(116.5570918616deg) translate(91.0157307476px) rotate(-116.5570918616deg) scale(0);
    }
  }
  @keyframes anim-7 {
    from {
      transform: rotate(116.5570918616deg) translate(0) rotate(-116.5570918616deg) scale(1.1425295975);
    }
    to {
      transform: rotate(116.5570918616deg) translate(91.0157307476px) rotate(-116.5570918616deg) scale(0);
    }
  }
  @-webkit-keyframes anim-8 {
    from {
      transform: rotate(305.987812268deg) translate(0) rotate(-305.987812268deg) scale(0.5240931598);
    }
    to {
      transform: rotate(305.987812268deg) translate(55.1196860412px) rotate(-305.987812268deg) scale(0);
    }
  }
  @keyframes anim-8 {
    from {
      transform: rotate(305.987812268deg) translate(0) rotate(-305.987812268deg) scale(0.5240931598);
    }
    to {
      transform: rotate(305.987812268deg) translate(55.1196860412px) rotate(-305.987812268deg) scale(0);
    }
  }
  @-webkit-keyframes anim-9 {
    from {
      transform: rotate(53.1206222606deg) translate(0) rotate(-53.1206222606deg) scale(1.2427225397);
    }
    to {
      transform: rotate(53.1206222606deg) translate(96.2086312461px) rotate(-53.1206222606deg) scale(0);
    }
  }
  @keyframes anim-9 {
    from {
      transform: rotate(53.1206222606deg) translate(0) rotate(-53.1206222606deg) scale(1.2427225397);
    }
    to {
      transform: rotate(53.1206222606deg) translate(96.2086312461px) rotate(-53.1206222606deg) scale(0);
    }
  }
  @-webkit-keyframes anim-10 {
    from {
      transform: rotate(154.1784861346deg) translate(0) rotate(-154.1784861346deg) scale(0.8019742431);
    }
    to {
      transform: rotate(154.1784861346deg) translate(47.7471464429px) rotate(-154.1784861346deg) scale(0);
    }
  }
  @keyframes anim-10 {
    from {
      transform: rotate(154.1784861346deg) translate(0) rotate(-154.1784861346deg) scale(0.8019742431);
    }
    to {
      transform: rotate(154.1784861346deg) translate(47.7471464429px) rotate(-154.1784861346deg) scale(0);
    }
  }
  @-webkit-keyframes anim-11 {
    from {
      transform: rotate(16.9547462704deg) translate(0) rotate(-16.9547462704deg) scale(0.4653594094);
    }
    to {
      transform: rotate(16.9547462704deg) translate(33.8097694834px) rotate(-16.9547462704deg) scale(0);
    }
  }
  @keyframes anim-11 {
    from {
      transform: rotate(16.9547462704deg) translate(0) rotate(-16.9547462704deg) scale(0.4653594094);
    }
    to {
      transform: rotate(16.9547462704deg) translate(33.8097694834px) rotate(-16.9547462704deg) scale(0);
    }
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container {
    width: 95%;
    margin: 20px auto;
    height: 200px;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider {
    display: flex;
    height: 100%;
    width: 700%;
    flex-shrink: 0;
    transition: transform 0.8s;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .slider .section i {
    font-size: 10rem;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .arrow {
    position: absolute;
    top: 40%;
    font-size: 3rem;
    transition: transform 0.3s;
    cursor: pointer;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .carousel-container .carousel .arrow:hover {
    transform: scale(0.8);
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .prev {
    left: 1%;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .next {
    right: 1%;
  }
  .error h1 {
    font-size: 5rem;
  }
  .error p {
    padding-top: 0.2em;
    font-size: 2.2rem;
  }
  .error a {
    padding: 0.3em 0.7em;
  }
}
@keyframes pulse {
  from {
    transform: scale(1.03);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes zoom {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
@keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .navigation-box-desktop, .navigation-blog {
    position: relative;
  }
  .aboutme .back-img .shadow {
    width: 50%;
  }
  .aboutme .back-img .front-img {
    height: 900px;
    width: 1550px;
  }
  .aboutme .aboutme-box {
    display: flex;
    flex-direction: row;
  }
  .aboutme .aboutme-box .aboutme-left {
    z-index: 20;
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    margin-top: 3em;
    width: 48%;
    color: #F2E9E4;
  }
  .aboutme .aboutme-box .aboutme-left h3 {
    font-size: 2.4rem;
    margin-bottom: 1em;
  }
  .aboutme .aboutme-box .aboutme-left p {
    line-height: 1.3;
    font-size: 1.9rem;
    margin-bottom: 1em;
  }
  .aboutme .aboutme-box .aboutme-left .text-bottom {
    margin-top: 5em;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box {
    margin-top: 2em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel {
    width: 90%;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component {
    position: relative;
    font-size: 7rem;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component .slick-center {
    transition: transform 0.5s;
    transform: scale(1.4);
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component i {
    padding: 0.8em;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component .fa-gulp {
    margin-left: 0.2em;
    margin-bottom: 0.3em;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.05em 0.05em;
    font-size: 3.3rem;
    background: none;
    border: none;
    color: #F2E9E4;
    cursor: pointer;
    z-index: 50;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component .slick-arrow .fa-angle-left:hover {
    transition: transform 0.2s;
    transform: scale(0.8);
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component .slick-arrow .fa-angle-right:hover {
    transition: transform 0.2s;
    transform: scale(0.8);
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component .slick-prev {
    left: -20px;
  }
  .aboutme .aboutme-box .aboutme-left .aboutme-logo-box .aboutme-carousel .slick-component .slick-next {
    right: -20px;
  }
  .banner {
    height: 43vh;
    background-position: 50% 40%;
    background-size: cover;
  }
}/*# sourceMappingURL=main.css.map */